@import "~bootstrap/scss/bootstrap";

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: whitesmoke;
}

#root {
  height: 100%;
}
.moveTop {
  margin-top: 25px;
}
.moveLeft {
  float: right;
}

.centering {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
